<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Grocery List</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2>Grocery List</h2>
				<p>Summary</p>
			</section>
		
		<!-- Display List -->
    <section id="list" class="wrapper special">
      <div class="inner">
        <header class="major">
          <h2>Final List</h2>
          <p> {{ vc }} <p>
          <p> {{ tax }} </p>
        </header>
        {% for item in itemList %}
          <p>{{ item }} </p>
        {% endfor %}
        <header>
          <h3>Final Summary</h3>
          {% for data in finalSumm %}
          <p><b> {{ data }} </b></p>
          {% endfor %}
        </header>
      </div>
    </section>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>