<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Grocery List</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2>Grocery List</h2>
				<p>Hello apartment 1103</p>
			</section>
		
				<!-- Initialize List -->
				<section id="inputs" class="wrapper style2 special">
					<div class="inner narrow">
						<header>
							<h2>Initialize List</h2>
						</header>
						<form class="grid-form" method="post" action="#">
							<div class="form-control narrow">
								<label for="vaid_customers">Valid Customers</label>
								<input name="valid_customers" id="valid_customers" type="text">
							</div>
							<div class="form-control narrow">
								<label for="tax">Tax (as a decimal)</label>
								<input name="tax" id="tax" type="number" min="0" max="1" step=".01">
							</div>
							<ul class="actions">
								<li><input value="intialize list" name = "initList" type="submit"></li>
							</ul>
						</form>
					</div>
				</section>


	</body>
</html>